---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

import cards from "../../public/data/noxus_cards.json";

const pageTitle = "Runeterra Art Explorer";
---

<Layout pageTitle={pageTitle}>
    <div class="flex flex-col">
        <section class="flex-grow w-11/12 mx-auto">
            <Navigation pageTitle={pageTitle} />
            <div class="grid grid-cols-10 gap-1">
                {
                    cards.map((card) => (
                        <Card
                            imagePath={card.img}
                            altText={card.name}
                            cardName={card.name}
                            regions={card.regions}
                        />
                    ))
                }
            </div>
        </section>
        <Footer pageTitle={pageTitle} />
    </div>
</Layout>
