---
const { imagePath, altText, cardName, regions } = Astro.props;
---

<script src="../scripts/clipboard.js"></script>
<!-- <script src="../scripts/download.js"></script> -->
<div
    class="card xl:col-span-2 lg:col-span-5 md:col-span-10 sm:col-span-10 col-span-10 border rounded-xl border-borderColor"
>
    <div class="aspect-card">
        <a href={imagePath} target="_blank">
            <img
                src={imagePath}
                alt={altText}
                loading="lazy"
                class="rounded-xl"
            />
        </a>
    </div>
    <div class="grid grid-cols-2 mx-auto my-auto">
        <div class="ml-5">
            <h2>{cardName}</h2>
            <p>
                {
                    regions.length > 0 &&
                        regions.slice(0, -1).join(", ") +
                            (regions.length > 1 ? ", " : "")
                }{regions.slice(-1)}
            </p>
        </div>
        <button
            class="tooltip copy-img-url justify-self-end mr-5"
            value={imagePath}
        >
            <span class="tooltiptext">Copy url</span>
            <svg
                class="w-6 h-6 hover:scale-110"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
            >
                <path
                    stroke="currentColor"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 8v3c0 .6-.4 1-1 1H5m11 4h2c.6 0 1-.4 1-1V5c0-.6-.4-1-1-1h-7a1 1 0 0 0-1 1v1m4 3v10c0 .6-.4 1-1 1H6a1 1 0 0 1-1-1v-7.1c0-.3 0-.5.2-.7l2.5-2.9c.2-.2.5-.3.8-.3H13c.6 0 1 .4 1 1Z"
                ></path>
            </svg>
        </button>
    </div>
</div>
